body {
  position: relative;
  background: #FFF8DC;
  top: 30px;
  left: 30px;

}

h1 {
  color: #483D8B;
  text-align: center;
  margin-top: 100px;
  font-size: 50pt;
}

.button-console {
  border: 0cap;
  background: local;
  color: #483D8B;
  font-size: 15pt;

}

.button-image {
  position: absolute;
  transition: all 0.5s, top 0s, left 0s ease-in-out; /* drop back down smoothly */
  background: url(childish.mov);
  background-size:cover;
  display: inline-block;
  height: 500px;
  vertical-align: top;
  width: 45%;
}


.button-image:hover {
  filter: drop-shadow(5px 5px 5px #5A514A); /* puts shadow behind image instead of image box */
  transition: all 0.5s ease-in-out; /* smooth pick up */
